# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configurations and tasks you actually want to
# keep. However, some settings in the .vscode folder may be local to your machine.
# If you share your .vscode folder with other people, you should consider adding
# the following files to your .gitignore:
# .vscode/settings.json
# .vscode/tasks.json
# .vscode/launch.json
# .vscode/extensions.json
# .vscode/cmake-kits.json

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets.zip
**/ios/Flutter/flutter_export_environment.sh
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
**/android/gen
**/android/local.properties
**/android/project.properties
**/android/Flutter/unused.txt
**/android/Flutter/flutter_assets.copy.gradle
**/android/Flutter/flutter_assets.zip
**/android/Flutter/flutter_export_environment.sh
**/linux/flutter/
**/macos/flutter/
**/windows/flutter/
**/web/flutter_bootstrap.js
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols
app.*.map.json

# Executable distributions
*.apk
*.aab
*.ex_
*.exe
*.dll
*.so
*.dylib

# Android Studio will create this folder for termux support
.cxx/

# iOS/macOS related
**/Pods/
**/DerivedData/
**/DerivedData*
*.moved-aside
*.xcuserstate
*.xcworkspace
